# WayMB credentials (required)
WAYMB_CLIENT_ID=
WAYMB_CLIENT_SECRET=
WAYMB_ACCOUNT_EMAIL=

# WayMB base URL (default works)
WAYMB_BASE_URL=https://api.waymb.com

# Optional URLs
CALLBACK_URL=
SUCCESS_URL=
FAILED_URL=
